<hr style="border: 6px solid#003262;" />

<div align="center">
    <img src= "/assets/content/datax_logos/DataX_blue_wide_logo.png" align="center" width="100%">
</div>


<br>

# **PANDAS (m120):** INTRODUCTION TO DATA ANALYSIS USING PANDAS

<br>


**Author List (in no particular order):** [Priya Kamdar](www.linkedin.com/in/priya-kamdar), [Alexander Fred-Ojala](https://www.linkedin.com/in/alexanderfo/), [Ikhlaq Sidhu](https://ikhlaq-sidhu.com/), [Elias Castro Hernandez](https://www.linkedin.com/in/ehcastroh/), and [Debbie Yuen](http://www.debbiecyuen.me/) 

**About (TL/DR):** The following notebook introduces developers and data scientists to data manipulation using Pandas. Pandas is a commonly used, yet powerful, library built for Python.

**Learning Goal(s):** Gain an understanding of Pandas's syntax, data structures, and data manipulation capabilities.

**Associated Materials:** None

**Keywords (Tags):** data-science, data-analysis, pandas-tutorial, pandas-python, pandas, statistical-analysis, numeerial-analysis, eda, exploratory-data-analysis, data-x

**Prerequisite Knowledge:** (1) Python, (2) Matplotlib

**Target User:** Data scientists, applied machine learning engineers, and developers

**Copyright:** Content curation has been used to expedite the creation of the following learning materials. Credit and copyright belong to the content creators used in facilitating this content. Please support the creators of the resources used by frequenting their sites, and social media.

<hr style="border: 4px solid#003262;" />

<a name='Part_table_contents' id="Part_table_contents"></a>



#### CONTENTS

> #### [PART 0: ABOUT AND MOTIVATION](#Part_0)
> #### [PART 1: DATAFRAME CREATION](#Part_1)
> #### [PART 2: READING DATA IN DATAFRAMES](#Part_2)
> #### [PART 3: DATA MANIPULATION](#Part_3)

#### APPENDIX

> #### [PREREQUISITE KNOWLEDGE AND REQUIREMENTS](#Appendix_1)
> #### [REFERENCES AND ADDITIONAL RESOURCES](#Appendix_2)

<br>

<a id='Part_0'></a>

<hr style="border: 2px solid#003262;" />

#### PART 0

## **ABOUT** AND **MOTIVATION** NEED VIDEO FROM DEBBIE

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
  <a href="">
    <img src="assets/content/images/NAME HERE.png" align="center" width="50%" padding="10px"/>
  </a><br>
</div>

<a id='Part_1'></a>

<hr style="border: 2px solid#003262;" />

#### PART 1

## **DATAFRAME** CREATION


<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/NAME_HERE.png" align="center" width="40%" padding="10"><br>
    <br>
    
</div>

<br>

<br>

[**Pandas**](https://pandas.pydata.org/) is an open source data analysis and manipulation library that is not only powerful and flexible, but also easy to learn and use.  

<strong style="color:red">KEY CONSIDERATION:</strong> Some of the following content may be written for machines running on Linux or Mac operating systems. If you are working on a Windows machine, you will need to enable the Linux Bash Shell, or adjust Shell commands to PowerShell syntax. A tutorial on how to enable the Linux Bash Shell on Windows 10 can be found [here](https://youtu.be/xzgwDbe7foQ).


#### CONTENTS:

> [PART 1.1: PANDAS DATAFRAME](#Part_1_1)<br>
> [PART 1.2: DATAFRAME CREATION](#Part_1_2)<br>
> [PART 1.3: DATAFRAME MANIPULATION](#Part_1_3)

<a id='Part_1_1'></a>

<hr style="border: 1px solid#003262;" />

#### PART 1.1: PANDAS DATAFRAME

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/NEED_NAME.png" align="center" width="40%" padding="10"><br>
    <br>
    Pandas DataFrame
</div>

<br>

#### **Introducing the Pandas DataFrame**

Pandas DataFrames are data structures that contain data organized in two dimensions, rows and columns, which are themselves organized via labels. In most cases, Pandas DataFrames are building using the [**DataFrame Constructor**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) to which you can pass two-dimensional data ([**list**](https://docs.python.org/3/tutorial/datastructures.html), [**tuple and sequences**](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences), or [**NumPy array**](https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html#series-is-ndarray-like)), [**dictionaries**](https://docs.python.org/3/tutorial/datastructures.html#dictionaries), or [**time series**](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html) data -- to name a few data types. 

Before we start exploring the dataframe, we must ensure we have the necessary packages. For detailed Pandas installation instruction see [here](https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html).

___

##### **Install Pandas**

https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html

```bash
# Pandas comes preinstalled with Anaconda. To install independently using conda
$ conda install pandas 
```

```bash
# Install using pip
$ pip install pandas 
```
___

<a id='Part_1_2'></a>

<hr style="border: 1px solid#003262;" />

#### PART 1.2: DATAFRAME CREATION

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/NEED_NAME.png" align="center" width="40%" padding="10"><br>
    <br>
    DataFrame Creation
</div>

#### **1.2.0 Load Packages/Libraries**

In [207]:
# pandas
import pandas as pd

# Extra packages
import numpy as np
import matplotlib.pyplot as plt # for plotting

# jupyter notebook magic to display plots in output
%matplotlib inline

plt.rcParams['figure.figsize'] = (10,6) # make the plots bigger

#### **1.2.1 Create Dataframe Using an Array**

___

#### **DataFrame from an array**

In [208]:
# Try it with an array
np.random.seed(0) # set seed for reproducibility

a1 = np.random.randn(3)
a2 = np.random.randn(3)
a3 = np.random.randn(3)

print (a1)
print (a2)
print (a3)

[1.76405235 0.40015721 0.97873798]
[ 2.2408932   1.86755799 -0.97727788]
[ 0.95008842 -0.15135721 -0.10321885]

In [209]:
# Create our first DataFrame w/ an np.array - it becomes a column
df0 = pd.DataFrame(a1)
df0

          0
0  1.764052
1  0.400157
2  0.978738

**Note:** the display of a DataFrame deppends on how it is displayed. Consider the previous output and the following as an example.

In [210]:
print(df0) # difference when you print and output of the last row

          0
0  1.764052
1  0.400157
2  0.978738

In [211]:
# Check type
type(df0)

pandas.core.frame.DataFrame

#### **DataFrame from an np.array**

In [212]:
# DataFrame from list of np.arrays

df0 = pd.DataFrame([a1, a2, a3])
df0

# notice that there is no column label, only integer values,
# and the index is set automatically

          0         1         2
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
2  0.950088 -0.151357 -0.103219

In [213]:
# We can set column and index names

df0 = pd.DataFrame([a1, a2, a3],columns=['a1','a2','a3'],index=['a','b','c'])
df0

         a1        a2        a3
a  1.764052  0.400157  0.978738
b  2.240893  1.867558 -0.977278
c  0.950088 -0.151357 -0.103219

#### **DataFrame from 2D np.array**

In [214]:
# DataFrame from 2D np.array

np.random.seed(0)
array_2d = np.array(np.random.randn(9)).reshape(3,3)
array_2d

array([[ 1.76405235,  0.40015721,  0.97873798],
       [ 2.2408932 ,  1.86755799, -0.97727788],
       [ 0.95008842, -0.15135721, -0.10321885]])

In [215]:
# name the columns and the rows of the previously created 2D np.array
df0 = pd.DataFrame(array_2d,columns=['rand_normal_1','Random Again','Third'] \
                   , index=[100,200,99]) 

df0

     rand_normal_1  Random Again     Third
100       1.764052      0.400157  0.978738
200       2.240893      1.867558 -0.977278
99        0.950088     -0.151357 -0.103219

#### **1.2.2 Create Dataframe Using a Dictionary**

___

In [216]:
# python dictionary
dict1 = {'a1':a1, 'a2':a2,'a3':a3}
dict1

{'a1': array([1.76405235, 0.40015721, 0.97873798]),
 'a2': array([ 2.2408932 ,  1.86755799, -0.97727788]),
 'a3': array([ 0.95008842, -0.15135721, -0.10321885])}

In [217]:
# convert dictionary to DataFrame
df1 = pd.DataFrame(dict1,index=[1,2,3]) 
df1

         a1        a2        a3
1  1.764052  2.240893  0.950088
2  0.400157  1.867558 -0.151357
3  0.978738 -0.977278 -0.103219

In [218]:
df1['k'] = [3.2, True, [1, "one"]]
df1

         a1        a2        a3         k
1  1.764052  2.240893  0.950088       3.2
2  0.400157  1.867558 -0.151357      True
3  0.978738 -0.977278 -0.103219  [1, one]

<!--Navigate back to table of contents-->
<div align="left" style="text-align: left; background-color:#003262;">
    <span>
        <hr style="border: 8px solid#003262;" />
        <a style="color:#FFFFFF; background-color:#003262; border:1px solid #FFFFFF; border-color:#FFFFFF;border-radius:0px;border-width:0px;display:inline-block;font-family:arial,helvetica,sans-serif;font-size:24px;letter-spacing:0px;line-height:20px;padding:24px 40px;text-align:left;text-decoration:none; align:left"> 
            <strong>CONCEPT</strong> CHECK 
        </a>        
    </span>

</div>
<!-------------------------------------->

> **It is easy to add new rows and columns of data to a Pandas DataFrame, and the data can be of any native type (i.e. interger, float, list, series, etc.)  However, much like in dictionaries, dimensions must match.** 

<br>

```python
# Create a new column in the df1 dataframe named 'L' and add the following entries
("List", 3), "3", ["pi", 3.1415]
```
>**The result should be a** ```3x5 matrix```. **What is the output?**

<hr style="border: 2px solid#003262;" />

#### **1.2.3 Create Dataframe using a Series Object**

If it helps, you can think of a Dataframe as a 2D array that has some of the behaviors of a python dictionary with a NumPy backbone. More clearly, a DataFrame is a collection of Series that are accessbile via names. 

<strong style="color:red">NOTE:</strong> The following lines of code require you to complete the concept check.

___

In [219]:
# Columns in Dataframes are Series Objects
type(df1['k'])

pandas.core.series.Series

In [220]:
# Exploring the column via the key
print(df1['k'], "\n")
print(type(df1['k']), "\n")

# Exploring the values in the column
for item in df1['k']:
    print(item, type(item))

1         3.2
2        True
3    [1, one]
Name: k, dtype: object

<class 'pandas.core.series.Series'>

3.2 <class 'float'>
True <class 'bool'>
[1, 'one'] <class 'list'>

<br>

#### **1.2.4 Create a Series from a Python List**

___

In [221]:
s = pd.Series([1,5,3]) # automatic index, 0,1,2...
s

0    1
1    5
2    3
dtype: int64

In [222]:
# add index 
s2 = pd.Series([2, 3, 4], index = ['a','b','c']) #specific index
s2

a    2
b    3
c    4
dtype: int64

In [223]:
# for those of you that did not do the CONCEPT CHECK, uncomment and run the following:
'''
df1['L'] = [("List", 3), "3", ["pi", 3.1415]]
'''

'\ndf1[\'L\'] = [("List", 3), "3", ["pi", 3.1415]]\n'

In [226]:
# We can add the Series s to the DataFrame above as column Series
# Remember to match indices
df1['Series'] = s
df1

         a1        a2        a3         k             L  Series
1  1.764052  2.240893  0.950088       3.2     (List, 3)     5.0
2  0.400157  1.867558 -0.151357      True             3     3.0
3  0.978738 -0.977278 -0.103219  [1, one]  [pi, 3.1415]     NaN

<br>

**Note:** Look at the *'Series'* column. Where did ```NaN``` come from?

<a id='Part_1_3'></a>

<hr style="border: 1px solid#003262;" />

#### PART 1.3: DATAFRAME MANIPULATION

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/NEED_NAME.png" align="center" width="40%" padding="10"><br>
    <br>
    DataFrame Manipulation
</div>

#### **1.3.1 Basic DataFrame Manipulation**

___

In [227]:
# We can add the Series s to the DataFrame above as column Series
# Remember to match indices
df1['Series'] = s
df1

         a1        a2        a3         k             L  Series
1  1.764052  2.240893  0.950088       3.2     (List, 3)     5.0
2  0.400157  1.867558 -0.151357      True             3     3.0
3  0.978738 -0.977278 -0.103219  [1, one]  [pi, 3.1415]     NaN

In [228]:
# We can also rename columns
df1 = df1.rename(columns = {'L':'RenamedL'})
df1

         a1        a2        a3         k      RenamedL  Series
1  1.764052  2.240893  0.950088       3.2     (List, 3)     5.0
2  0.400157  1.867558 -0.151357      True             3     3.0
3  0.978738 -0.977278 -0.103219  [1, one]  [pi, 3.1415]     NaN

In [229]:
# We can delete columns
del df1['Series']
df1

         a1        a2        a3         k      RenamedL
1  1.764052  2.240893  0.950088       3.2     (List, 3)
2  0.400157  1.867558 -0.151357      True             3
3  0.978738 -0.977278 -0.103219  [1, one]  [pi, 3.1415]

In [230]:
# or drop columns, see axis = 1
# does not change df1 if we don't set inplace=True
df1.drop('a2',axis=1) # returns a copy

         a1        a3         k      RenamedL
1  1.764052  0.950088       3.2     (List, 3)
2  0.400157 -0.151357      True             3
3  0.978738 -0.103219  [1, one]  [pi, 3.1415]

In [231]:
# sanity check
df1

         a1        a2        a3         k      RenamedL
1  1.764052  2.240893  0.950088       3.2     (List, 3)
2  0.400157  1.867558 -0.151357      True             3
3  0.978738 -0.977278 -0.103219  [1, one]  [pi, 3.1415]

In [232]:
# or drop rows
df1.drop(1,axis=0)

         a1        a2        a3         k      RenamedL
2  0.400157  1.867558 -0.151357      True             3
3  0.978738 -0.977278 -0.103219  [1, one]  [pi, 3.1415]

<br>

#### **1.3.2 Data Selection: Indexing and Slicing a DataFrame**

>[Indexing DataFrames](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#different-choices-for-indexing)<br>
>[Range Slicing DataFrames](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#slicing-ranges)

___

**Attribute Access**

In [233]:
# Example: view only one column
df1['a1']

1    1.764052
2    0.400157
3    0.978738
Name: a1, dtype: float64

In [234]:
# similarly
df1.a1

1    1.764052
2    0.400157
3    0.978738
Name: a1, dtype: float64

In [235]:
# Or view several column
df1[['a1','a3']]

         a1        a3
1  1.764052  0.950088
2  0.400157 -0.151357
3  0.978738 -0.103219

In [237]:
# we can also set data by column
df1['a1'] = False
df1

      a1        a2        a3         k      RenamedL
1  False  2.240893  0.950088       3.2     (List, 3)
2  False  1.867558 -0.151357      True             3
3  False -0.977278 -0.103219  [1, one]  [pi, 3.1415]

<br>

**Slicing Ranges**

In [238]:
# take all rows up to 2, inclusive
df1[:2]

      a1        a2        a3     k   RenamedL
1  False  2.240893  0.950088   3.2  (List, 3)
2  False  1.867558 -0.151357  True          3

In [239]:
# take all rows
df1[:]

      a1        a2        a3         k      RenamedL
1  False  2.240893  0.950088       3.2     (List, 3)
2  False  1.867558 -0.151357      True             3
3  False -0.977278 -0.103219  [1, one]  [pi, 3.1415]

In [240]:
# slice of the DataFrame returned
# this slices the first three rows first followed by first 2 rows of the sliced frame
df1[0:3][0:2]

      a1        a2        a3     k   RenamedL
1  False  2.240893  0.950088   3.2  (List, 3)
2  False  1.867558 -0.151357  True          3

In [241]:
# Lets print the five first 2  elements of column a1
# This is a new Series (like a new table)
df1['a1'][0:2]

1    False
2    False
Name: a1, dtype: bool

In [242]:
# Lets print the 2 column, and top 2 values- note the list of columns
df1[['a1','a3']][0:2]

      a1        a3
1  False  0.950088
2  False -0.151357

In [243]:
# take all rows, except for the second one
df1[::2]

      a1        a2        a3         k      RenamedL
1  False  2.240893  0.950088       3.2     (List, 3)
3  False -0.977278 -0.103219  [1, one]  [pi, 3.1415]

In [244]:
# take all rows, but invert order
df1[::-1]

      a1        a2        a3         k      RenamedL
3  False -0.977278 -0.103219  [1, one]  [pi, 3.1415]
2  False  1.867558 -0.151357      True             3
1  False  2.240893  0.950088       3.2     (List, 3)

In [245]:
# Sanity Check: what does the negative sign do?
temp = [df1[::-3], df1[::-2], df1[::-1], df1[::]]

for i in range(len(temp)):
    print(temp[i], "\n")

      a1        a2        a3         k      RenamedL
3  False -0.977278 -0.103219  [1, one]  [pi, 3.1415]

      a1        a2        a3         k      RenamedL
3  False -0.977278 -0.103219  [1, one]  [pi, 3.1415]
1  False  2.240893  0.950088       3.2     (List, 3)

      a1        a2        a3         k      RenamedL
3  False -0.977278 -0.103219  [1, one]  [pi, 3.1415]
2  False  1.867558 -0.151357      True             3
1  False  2.240893  0.950088       3.2     (List, 3)

      a1        a2        a3         k      RenamedL
1  False  2.240893  0.950088       3.2     (List, 3)
2  False  1.867558 -0.151357      True             3
3  False -0.977278 -0.103219  [1, one]  [pi, 3.1415]

**Note:** as shown above, double indexing can get confusing. The ```loc``` and ```iloc`` methods serve the same purpose are easier to understand.

<br>

**Selection by Label Using** ```.loc``` **Attribute**

>Pandas provides a suite of methods to have [**purely label based indexing**](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#selection-by-label) -- they are optimized and easier to understand that slicing.

___

In [253]:
# Selection by Label on a Series
s1 = pd.Series(np.random.randn(6), index=list('abcdef'))
print(s1, "\n")
print(s1.loc['b'], "\n")
print(s1.loc['c':])

a   -1.980796
b   -0.347912
c    0.156349
d    1.230291
e    1.202380
f   -0.387327
dtype: float64

-0.3479121493261526

c    0.156349
d    1.230291
e    1.202380
f   -0.387327
dtype: float64

In [264]:
# Selection by Label on a DataFrame
df2 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))
print(df2)

          A         B         C         D
a  0.906045 -0.861226  1.910065 -0.268003
b  0.802456  0.947252 -0.155010  0.614079
c  0.922207  0.376426 -1.099401  0.298238
d  1.326386 -0.694568 -0.149635 -0.435154
e  1.849264  0.672295  0.407462 -0.769916
f  0.539249 -0.674333  0.031831 -0.635846

In [272]:
# extract single row contents
print(df2.loc['a'], "\n")

# extract the declared rows, from all columns
print(df2.loc[['a', 'c', 'e'], :], "\n")

# extract all rows starting at c (inclusive) from columns B through D
print(df2.loc['c':, 'B':'D'], "\n")

A    0.906045
B   -0.861226
C    1.910065
D   -0.268003
Name: a, dtype: float64

          A         B         C         D
a  0.906045 -0.861226  1.910065 -0.268003
c  0.922207  0.376426 -1.099401  0.298238
e  1.849264  0.672295  0.407462 -0.769916

          B         C         D
c  0.376426 -1.099401  0.298238
d -0.694568 -0.149635 -0.435154
e  0.672295  0.407462 -0.769916
f -0.674333  0.031831 -0.635846

In [273]:
# check boolean conditions
print(df2.loc['a']>0, "\n")

# get values using boolean conditions
print(df2.loc[:, df2.loc['a']>0])

A     True
B    False
C     True
D    False
Name: a, dtype: bool

          A         C
a  0.906045  1.910065
b  0.802456 -0.155010
c  0.922207 -1.099401
d  1.326386 -0.149635
e  1.849264  0.407462
f  0.539249  0.031831

<br>

**Slicing into NumPy Arrays**

In [275]:
# If you want the values in an np array
npg = df2.loc[:,"B"].values  
print(type(npg), "\n", npg, "\n")

# otherwise it returns a  indexed series
sg = df2.loc[:,"B"]
print(type(sg), "\n", sg)

<class 'numpy.ndarray'>
 [-0.86122569  0.94725197  0.37642553 -0.69456786  0.67229476 -0.67433266]

<class 'pandas.core.series.Series'>
 a   -0.861226
b    0.947252
c    0.376426
d   -0.694568
e    0.672295
f   -0.674333
Name: B, dtype: float64

<br>

**Selection by Position Using** ```.iloc``` **Attribute**

>Pandas provides a suite of methods to have  [**purely integer based indexing**](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#selection-by-position) -- the semantics follow closely to Python and NumPy slicing.

___

In [280]:
# Selection by Position on a Series
s2 = pd.Series(np.random.randn(5), index=list(range(0,10,2)))

print(s2, "\n")
print(s2.iloc[:4], "\n")
print(s2.iloc[4])

0    1.713343
2   -0.744755
4   -0.826439
6   -0.098453
8   -0.663478
dtype: float64

0    1.713343
2   -0.744755
4   -0.826439
6   -0.098453
dtype: float64

-0.6634782863621074

In [284]:
# Setting data works similar to .loc
s2.iloc[3] = 0
print(s2, "\n")

s2.iloc[:2] = 3.1415
print(s2)

0    1.713343
2   -0.744755
4   -0.826439
6    0.000000
8   -0.663478
dtype: float64

0    3.141500
2    3.141500
4   -0.826439
6    0.000000
8   -0.663478
dtype: float64

In [288]:
# Selection by Label on a DataFrame
df3 = pd.DataFrame(np.random.randn(6, 4),
                   index=list(range(0, 12, 2)),
                   columns=list(range(0, 24, 6)))
print(df3)

          0         6         12        18
0  -0.353994 -1.374951 -0.643618 -2.223403
2   0.625231 -1.602058 -1.104383  0.052165
4  -0.739563  1.543015 -1.292857  0.267051
6  -0.039283 -1.168093  0.523277 -0.171546
8   0.771791  0.823504  2.163236  1.336528
10 -0.369182 -0.239379  1.099660  0.655264

In [290]:
# select using integer slicing
print(df3.iloc[:3], "\n")
print(df3.iloc[1:4, 1:3])

         0         6         12        18
0 -0.353994 -1.374951 -0.643618 -2.223403
2  0.625231 -1.602058 -1.104383  0.052165
4 -0.739563  1.543015 -1.292857  0.267051

         6         12
2 -1.602058 -1.104383
4  1.543015 -1.292857
6 -1.168093  0.523277

In [295]:
# select using integer list
print(df3.iloc[1,1], "\n")
print(df3.iloc[1:3, :], "\n")
print(df3.iloc[:, 1:3], "\n")
print(df3.iloc[[0,3,5], [1,3]])

-1.6020576556067476

         0         6         12        18
2  0.625231 -1.602058 -1.104383  0.052165
4 -0.739563  1.543015 -1.292857  0.267051

          6         12
0  -1.374951 -0.643618
2  -1.602058 -1.104383
4   1.543015 -1.292857
6  -1.168093  0.523277
8   0.823504  2.163236
10 -0.239379  1.099660

          6         18
0  -1.374951 -2.223403
6  -1.168093 -0.171546
10 -0.239379  0.655264

<br>

**Selection by Position Using** ```.iloc``` **Attribute**

>Pandas provides a suite of methods to have  [**purely integer based indexing**](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#selection-by-position) -- the semantics follow closely to Python and NumPy slicing.

___

<a id='Part_2'></a>

<hr style="border: 2px solid#003262;" />

#### PART 2

## **READING** IN **DATA**, AND STORAGE

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flask_drawing.png" align="center" width="30%" padding="10"><br>
    <br>
    Complete (Basic) Flask Stack
</div>

<br>

Now that we have a [**Flask**](https://flask.palletsprojects.com/en/1.1.x/) environment up-and-running we want to establish a structure that allows us to build our email client site. We then want to utilize [**Hypertext Markup Language (HTML)**](https://en.wikipedia.org/wiki/HTML) and [**Cascading Style Sheets (CSS)**](https://en.wikipedia.org/wiki/Cascading_Style_Sheets)to describe how to structure web pages, and establish how the site should act on the markup language -- e.g. color, layout, fonts, etc. 


#### CONTENTS:

> [PART 2.1: SET UP NESTED DIRECTORIES AND FILES](#Part_2_1)<br>
> [PART 2.2: SET BASIC HTML &amp; CSS](#Part_2_2)<br>
> [PART 2.3: LINK TO SQLITE](#Part_2_3)<br>
> [PART 2.4: LINE-BY-LINE BREAKDOWN OF myFlaskApp.py](#Part_2_4)<br>
> [PART 2.5 (OPTIONAL): IMPLEMENT MYSQL DATABASE AND SERVER ENVIRONMENT](#Part_2_5)

<a id='Part_2_1'></a>

<hr style="border: 1px solid#003262;" />

#### PART 2.1: SET UP TEMPLATE'S NESTED DIRECTORIES AND FILES

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flaskintroscreens_updated-06.png" align="center" width="40%" padding="10"><br>
    <br>
    Template and HTML
</div>

<br>

#### **Set and Initialize Local Server for Development and Testing**

```bash
# create simple builtin server 
$ export FLASK_APP=myFlaskApp.py

```


```bash
# run exported .py file in local server 
$ python -m flask run
```

**Note:** the two commands above must be executed within the directory flaskTestApp. The commands will fail if within a subdirectory or superdirectory of flaskTestApp.


**IMPORTANT:** to kill the virtual environment after doing ```ctrl+c``` you must deactivate it by executing ```deactivate``` within the ```flaskTestApp``` directory.
```bash
    $ deactivate
'''

<br>

#### **Create Directories**

Using the ```mkdir``` command, or the file explorer on your computer, create two nested folders. Namely ```static``` and ```templates```. **These folders must be named as such**, so that Jinja and Flask know where to look for html files without having to specify the absolute path to the directory when using template inheritance (more bellow).


<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flask_sanity_check_3.png" align="center" width="35%" padding="10"><br>
    <br>
    **Sanity Check** you should see (venv) at the start of the working directory, and the two requested folders also
<div>
<br>

#### **Create Files**

Using your favorite text editor, we want to create the following two files (see **/flaskTestApp/assets/templates** folder for the files themselves):

```bash 
    # stores template inheritance and HTML
    base.html
```

<br>


<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/base_html.png" align="center" width="40%" padding="10"><br>
    <br>
<div>

```bash 
    # extends the content into the base.html template and displays
    home.html
```

<br>


<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/home_html.png" align="center" width="40%" padding="10"><br>
    <br>
<div>

___

**Note:** when using Jinja's template inheritance
```html
    <!-- used for passing variables, objects, running functions, etc -->
    {%  %}
```


```html
    <!-- used for passing strings -->
    {{  }}
```
___

<a id='Part_2_2'></a>

<hr style="border: 1px solid#003262;" />

#### PART 2.2: SET BASIC HTML &amp; CSS

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flaskintroscreens_updated-07.png" align="center" width="40%" padding="10"><br>
    <br>
    Static Content and CSS
</div>

<br>

#### **Create Directories and Files**

Using the ```mkdir``` command, or the file explorer on your computer, inside of the ```static``` directory create a folder named ```CSS```and a file named main.css Using ```main.css``` we can specify the desired global or local CSS design constraints.

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flask_sanity_check_4.png" align="center" width="40%" padding="10"><br>
    <br>
    **Sanity Check** you should see (venv) at the start of the working directory, and a folder named CSS within the static folder
<div>

#### **Create Files**

Using your favorite text editor, we want to create the following two files (see **/assets/flaskTestApp/static/CSS** folder for the file):

```bash 
    # stores stylesheet 
    main.css
```

<br>


<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/main_css.png" align="center" width="40%" padding="10"><br>
    <br>
<div>
<br>

#### **Enable CSS within Jinja Templating**

Using your favorite text editor, update the ```base.html``` file to contain the following

```html 
    <link rel="stylesheet" herf="{{ url_for('static', filename='CSS/main.css')}}">
```

Your ```base.html``` file should look like the following:

<br>


<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/updated_base_html.png" align="center" width="40%" padding="10"><br>
    <br>
<div>
<br>

___

**About Template Inheritance:** Jinja allows users to leverage [**template inheritance**](https://jinja.palletsprojects.com/en/2.11.x/templates/#template-inheritance) when constructing a site. Meaning that a bit of time architecting the 'skeleton' and associated templates, a developer can save a lot of time when maintaining and/or updating a site by passing content blocks via the template calls that are available thorughout any desired page on the site being built. To learn more about templating:

> [**Real Python (Primer on Jinja Templating)**](https://realpython.com/primer-on-jinja-templating/)

___

<a id='Part_2_3'></a>

<hr style="border: 1px solid#003262;" />

#### PART 2.3: LINK TO SQLITE

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flaskintroscreens_updated-08.png" align="center" width="40%" padding="10"><br>
    <br>
    Static Content and CSS
</div>

<br>

#### **Launch Virtual Environment**

First make sure that you are within ```venv``` by running


```bash
   $ source venv/bin/activate
```
<br>

<br>
<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flask_sanity_check_9.png" align="center" width="40%" padding="10"><br>
    <br>
    **Sanity Check**
<div>

<br>

#### **Install SQL Alchemy**

In the terminal with the ```venv``` environment, enter

```bash
   $ pip install Flask-SQLAlchemy
```

<br>
<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flask_sanity_check_10.png" align="center" width="40%" padding="10"><br>
    <br>
    **Sanity Check**
<div>

<br>

#### **Enable SQL Alchemy and Create Database Initialization in myFlaskApp**

Using your favorite text editor, update the ```myFlaskApp.py``` file to match the following:

<br>
<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flask_myFlaskApp.png" align="center" width="40%" padding="10"><br>
<div align="center"> Python script can be found in /assets/flaskTestApp </div>
</div>
<br>

**Pro Tip:** To gain a deeper understanding, make sure to watch the **line-by-line breakdown of myFlaskApp.py [here](#Part_2_4)**.


<!--Navigate back to table of contents-->
<div align="left" style="text-align: left; background-color:#003262;">
    <span>
        <hr style="border: 8px solid#003262;" />
        <a style="color:#FFFFFF; background-color:#003262; border:1px solid #FFFFFF; border-color:#FFFFFF;border-radius:0px;border-width:0px;display:inline-block;font-family:arial,helvetica,sans-serif;font-size:24px;letter-spacing:0px;line-height:20px;padding:24px 40px;text-align:left;text-decoration:none; align:left"> 
            <strong>CONCEPT</strong> CHECK 
        </a>        
    </span>

</div>
<!-------------------------------------->

>**You can see the** ```__repr__()``` **method can be used for debugging by doing the following:**<br><br>
>In a terminal window, within the activated virtual environment, start a Python3 session and enter the following

```bash
   $ python3
```


```python
    # this portion is within the python3 session
    >>> from app.models import userEmail
    >>> uE = userEmail(username='elias', email='elias@example.com')
    >>> uE
    
# what is the output?
```   
<hr style="border: 2px solid#003262;" />

#### **Create SQLite Database**

<br>

Start up a ```python3``` session

```bash
   $ python3
```

<br>

then import the SQLite database listed on myFlaskApp

```python
   >>> from myFlaskApp import db
```

<br>

Create the database ```myFlaskDB.db``` and store within the relative path (i.e. in current working directory ```flaskTestApp```

```python
   >>> db.create_all()
```

<br>

Finally, exit out of the ```python3``` shell

```python
   >>> exit()
```

<br>
<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flask_sanity_check_11.png" align="center" width="50%" padding="10"><br>
    <br>
    **Sanity Check**
<div>
<br>

<a id='Part_2_4'></a>

<hr style="border: 1px solid#003262;" />

#### Part 2.4: LINE-BY-LINE BREAKDOWN: myFlaskApp.py

In [49]:
from IPython.display import HTML
HTML("""
    <table align="center" style="width:90%; font-size:18px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.2; color:#2A2C2B">
      <tr>
          <th style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.2; color:#2A2C2B; vertical-align:center; width:50%">  
              <div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
                <img src="/assets/content/images/flaskintroscreens_updated-06_09.png" align="center" width="90%" padding="10"><br>
              </div>
          </th>
          <th style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.2; color:#2A2C2B; vertical-align:top; width:50%">
              <div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
                  <video width="90%" padding="10px" controls> 
                      <source src="/assets/content/videos/myFlaskApp_walkthrough_raw.mp4">
                  </video>
                  <br>
                  <div align="center">Video: myFlaskApp.py line-by-line breakdown </div>
              </div>
          </th>
      </tr>
    </table>
    """)

<!--Navigate back to table of contents-->
<div alig="right" style="text-align: right">
    <span>
        <a style="color:#FFFFFF; background-color:#003262; border:1px; solid:#FFFFFF; border-color:#FFFFFF;border-radius:5px;border-width:0px;display:inline-block;font-family:arial,helvetica,sans-serif;font-size:10px;letter-spacing:0px;line-height:10px;padding:10px 20px;text-align:center;text-decoration:none; align:center" href="#Part_table_contents" name="Table of Contents"  id="Part_table_contents"> 
            Table of Contents 
        </a>
    </span>
</div>
<!-------------------------------------->

<a id='Part_2_5'></a>

<hr style="border: 2px solid#003262;" />

#### PART 2.5 (OPTIONAL): IMPLEMENT MYSQL DATABASE AND WSGI ENVIRONMENT

#### **Install MySQL Database Packages**

```bash
    # within venv, install the following
    $ sudo apt-get install apache2 mysql-client mysql-server

```


**Note:** multiple packages can be installed by adding a single space between package names.

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flask_sanity_check_5.png" align="center" width="50%" padding="10"><br>
    <br>
    **Sanity Check**
<div>

#### **Install WSGI to run Flask Environment** 

Setting up a WSGI environment makes development and production easier as the site scales beyond the scope of this tutorial.

```bash
    # within venv, install the following
    $ sudo apt-get install libapache2-mod-wsgi
    
```

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flask_sanity_check_6.png" align="center" width="50%" padding="10"><br>
    <br>
    **Sanity Check**
<div>

#### **Enable WSGI** 

```bash
    $ sudo a2enmod wsgi
```

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flask_sanity_check_7.png" align="center" width="35%" padding="10"><br>
    <br>
    **Sanity Check**
<div>

#### **Check That Flask and WSGI are Working** 

```bash
    $ sudo python myFlaskApp.py
```

<br>

<div align="center" style="font-size:12px; font-family:FreeMono; font-weight: 100; font-stretch:ultra-condensed; line-height: 1.0; color:#2A2C2B">
    <img src="/assets/content/images/flask_sanity_check_8.png" align="center" width="40%" padding="20"><br>
    <br>
    **Sanity Check**
<div>

___

**About WSGI:** [Web Server Gateway Interface (WSGI)](http://wsgi.tutorial.codepoint.net/) allows us to create an interface by which the server and application can communicate. There is no need for an API. To learn more about WSGI:

>[**WSGI for Web Developer by Ryan Wilson-Perkin**](https://www.youtube.com/watch?v=WqrCnVAkLIo)

___

<a id='Part_3'></a>

<hr style="border: 2px solid#003262;" />

#### PART 3

## **WRAP-UP** AND **NEXT** STEPS


<div align="center">
    <img src= "/assets/content/datax_logos/DataX_icon_wide_logo.png" align="center" width="80%" padding="20">
</div>

<br>

As you may have started to notice, that there is much more than can be done using Flask. Wanting to learn other uses of Flask?  Visit the [**Data-X website**](https://datax.berkeley.edu/) to learn more, or use the following links to topics of interest:

> [**INTRODUCTION TO NUMERICAL ANALSYS USING NUMPY (m110): url needed**]() Shows you how to deploy your Flask environment in an elastic server <br>
> [**INTRODUCTION TO DATA VISUALIZATION USING MATPLOTLIB + SEABORN (m130): url needed**]() Covers the process of using DataFrames to create engaging visualizations <br>
[**SYNTHETIC DATA GENERATION USING PANDAS (m190): url needed**]() Covers data augmentation (creating statistically valid data), and data correction (using ML to fill-in missing data)



<br>

<br>

<a id='Appendix_1'></a>

<hr style="border: 6px solid#003262;" />


#### APPENDIX I


## PREREQUISITE **KNOWLEDGE** AND **REQUIREMENTS**


[**Pandas**](https://pandas.pydata.org/about/) aims to be the fundamental high-level building block for doing practical, real-world data analysis in Python. General mastery of Pandas can make the discovery process of [**data engineering and machine learning**](https://chrisalbon.com/) easier to do, it can shorten the [**data science lifecyle**](https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/lifecycle), and can be combined with various visualization libraries to produce engaging [**data visualizations**](https://github.com/ehcastroh/visualizations_and_visual_storytelling).  <br>


##### **PYTHON**
This notebook and the executable files are built using [**Python**](https://www.python.org/) and relies on common Python packages (e.g. [**NumPy**](https://numpy.org/)) for operation. If you have a lot of programming experience in a different language (e.g. C/C++/Matlab/Java/Javascript), you will likely be fine, otherwise:

> [**Python (EDX free)**](https://www.edx.org/course?search_query=python)<br>
> [**Python (Coursera free)**](https://www.coursera.org/search?query=python)

<a id='Appendix_2'></a>

<hr style="border: 2px solid#003262;" />

#### APPENDIX II


## **REFERENCES** AND ADDITIONAL **RESOURCES**

<br>


> * [**Pandas User Guide**](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)

> * [**What is Pandas? by Python Programmer**](https://youtu.be/dcqPhpY7tWk) 

> * [**Pandas for Data Science by Real Python**](https://realpython.com/learning-paths/pandas-data-science/)

> * [**Python Pandas Tutorial (11 Parts) by Corey Schafer**](https://youtu.be/ZyhVh-qRZPA)

<!--Navigate back to table of contents-->
<div alig="right" style="text-align: right">
    <span>
        <a style="color:#FFFFFF; background-color:#003262; border:1px solid #FFFFFF; border-color:#FFFFFF;border-radius:5px;border-width:0px;display:inline-block;font-family:arial,helvetica,sans-serif;font-size:10px;letter-spacing:0px;line-height:10px;padding:10px 20px;text-align:center;text-decoration:none; align:center" href="#Part_table_contents" name="Table of Contents"  id="Part_table_contents"> 
            Table of Contents 
        </a>
    </span>
</div>
<!-------------------------------------->

<hr style="border: 6px solid#003262;" />